<ion-view title="我的">
  <!--头信息-->
  <div class="bar bar-subheader my-bar">
      <img src="img/logo.jpg" class="img-circle"/>
      <span style="margin-left:20px;font-size:20px;">注册/登录</span>
  </div>
  <!--上部菜单栏目-->
  <ion-content class="has-subheader my-content">   	
  		 <div class="row" style="width:100%;">
          <div class="col col-10"></div>
          <div class="col col-22">
            <a class="tab-item">
              <i class="icon ion-ios-paw-outline"></i>
              待付款
            </a>
          </div>
          <div class="col col-22">
            <a class="tab-item">
              <i class="icon ion-ios-paw-outline"></i>
              待发货
            </a>
          </div>
          <div class="col col-22">
            <a class="tab-item">
              <i class="icon ion-ios-paw-outline"></i>
              待收货
            </a>
          </div>
          <div class="col col-22">
            <a class="tab-item">
              <i class="icon ion-ios-paw-outline"></i>
              已关闭
            </a>
          </div>
      </div>      

    <div class="service">
    	<div class="row" style="margin-top:20px;">
    		<div class="col col-30 col-offset-3">
    			<a class="tab-item" style="color:red;"> <i class="icon ion-ios-heart"></i></a><span>收藏</span>    			
    		</div>
	  		<div class="col col-30 col-offset-3">
	  			<a class="tab-item" style="color:red;"> <i class="icon ion-ios-heart"></i></a><span>足迹</span>
	  		</div>
	  		<div class="col col-30 col-offset-3">
	  			<a class="tab-item" style="color:red;"> <i class="icon ion-ios-heart"></i></a><span>赞过</span>
	  		</div>
    	</div>
    	<div class="row" style="margin-top:20px;">
    		<div class="col col-30 col-offset-3">
    			<a class="tab-item" style="color:red;"> <i class="icon ion-ios-heart"></i></a><span>反馈</span>
    		</div>
	  		<div class="col col-30 col-offset-3">
	  			<!--<a class="tab-item" style="color:red;"> <i class="icon ion-ios-heart"></i></a><span>Favourite</span>-->
	  		</div>
	  		<div class="col col-30 col-offset-3">
	  			<!--<a class="tab-item" style="color:red;"> <i class="icon ion-ios-heart"></i></a><span>Favourite</span>-->
	  		</div>
    	</div>  
	</div>
	
  </ion-content>
</ion-view>
